body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Imagens/imagem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 40px;
}

table {
    margin: 40px auto;
}

td {
    padding: 20px;
}

img {
    width: 200px;
    height: 280px;
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-top: 10px;
    font-weight: bold;
}


.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.galeria img {
    width: 220px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.galeria img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00ffff;
}

body.gow2 {
    background-image: url("C:\Users\jgabr\Downloads\imagem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.ds3 {
    background-image: url("C:\Users\jgabr\Downloads\imagem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.farcry4 {
    background-image: url("C:\Users\jgabr\Downloads\imagem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.gtav {
    background-image: url("C:\Users\jgabr\Downloads\imagem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.zomboid {
    background-image: url("C:\Users\jgabr\Downloads\imagem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.valorant {
    background-image: url("C:\Users\jgabr\Downloads\imagem.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.gow2::before,
body.ds3::before,
body.farcry4::before,
body.gtav::before,
body.zomboid::before,
body.valorant::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.conteudo-jogo {
    position: relative;
    z-index: 1;
    padding: 40px;
}